<app-header [userName]="userName" [showGreeting]="true"></app-header>

<ion-content fullscreen>
  <div class="sticky-search">
    <app-search-bar (searchChange)="onSearchChange($event)"></app-search-bar>
  </div>

  <div class="grid">
    <div class="assoc-item" *ngFor="let a of filteredAssociations" (click)="goToAssociation(a)">
      <app-association-card-component
        [imageSrc]="a.imageSrc"
        [title]="a.title"
        [type]="a.type"
      ></app-association-card-component>
    </div>
  </div>
</ion-content>

<app-footer-tabs
  [active]="activeTab"
  (tabChange)="activeTab = $event"
></app-footer-tabs>
