<app-header-back [title]="'Vos paiements'"></app-header-back>

<ion-content class="page-paiement">
  <div class="payment-history-container">
    <!-- Payment row 1 -->
    <div class="payment-card">
      <div class="left">
        <div class="avatar">
          <ion-icon name="cloud-download" class="payment-icon"></ion-icon>
        </div>
      </div>

      <div class="center">
        <div class="title">Paiement: <span class="strong">Scolarité</span></div>
        <div class="sub">Pour : Amadou Bagayoko</div>
      </div>

      <div class="right">
        <div class="amount">50.000F</div>
        <div class="date">12.05.2025</div>
      </div>
    </div>

    <!-- Payment row 2 -->
    <div class="payment-card">
      <div class="left">
        <div class="avatar">
          <ion-icon name="cloud-download" class="payment-icon"></ion-icon>
        </div>
      </div>

      <div class="center">
        <div class="title">Paiement: <span class="strong">Cantine</span></div>
        <div class="sub">Pour : Oumar Dolo</div>
      </div>

      <div class="right">
        <div class="amount">20.000F</div>
        <div class="date">12.05.2025</div>
      </div>
    </div>

    <!-- Payment row 3 -->
    <div class="payment-card">
      <div class="left">
        <div class="avatar">
          <ion-icon name="cloud-download" class="payment-icon"></ion-icon>
        </div>
      </div>

      <div class="center">
        <div class="title">
          Paiement: <span class="strong">Fournitures</span>
        </div>
        <div class="sub">Pour : Mariam Sow</div>
      </div>

      <div class="right">
        <div class="amount">50.000F</div>
        <div class="date">12.05.2025</div>
      </div>
    </div>

    <!-- Payment row 4 -->
    <div class="payment-card">
      <div class="left">
        <div class="avatar">
          <ion-icon name="cloud-download" class="payment-icon"></ion-icon>
        </div>
      </div>

      <div class="center">
        <div class="title">Paiement: <span class="strong">Scolarité</span></div>
        <div class="sub">Pour : Awa Doumbia</div>
      </div>

      <div class="right">
        <div class="amount">50.000F</div>
        <div class="date">12.05.2025</div>
      </div>
    </div>

    <!-- Payment row 5 -->
    <div class="payment-card last">
      <div class="left">
        <div class="avatar">
          <ion-icon name="cloud-download" class="payment-icon"></ion-icon>
        </div>
      </div>

      <div class="center">
        <div class="title">Paiement: <span class="strong">Scolarité</span></div>
        <div class="sub">Pour : Hamza Sanmo</div>
      </div>

      <div class="right">
        <div class="amount">50.000F</div>
        <div class="date">12.05.2025</div>
      </div>
    </div>
  </div>
</ion-content>

<app-footer-tabs></app-footer-tabs>
