<app-header-back [title]="'Profil Enfant'" [showSponsorButton]="true" (sponsor)="showConfirm = true"></app-header-back>

<ion-content fullscreen>


  <div class="profile-card">
    <img class="avatar" [src]="child.avatar" [alt]="child.name" />
    <div class="info">
      <div class="name">{{ child.name }}</div>
      <div class="row">Classe: <b>{{ child.level }}</b></div>
      <div class="row">Age: <b>{{ child.age }}</b></div>
      <div class="row">Tuteur: <b>{{ child.tutor }}</b></div>
      <div class="row">Dépense: <b>{{ child.expenses }}</b></div>
    </div>
  </div>

  <div class="section-title">Rapports Scolaires</div>

  <div class="reports">
    <div class="report" *ngFor="let r of reports">
      <div class="icon">
        <ion-icon name="document-text-outline"></ion-icon>
      </div>
      <div class="details">
        <div class="title">{{ r.title }}</div>
        <div class="meta">Moyenne de Classe : {{ r.avg }} · Présence : {{ r.presence }}</div>
        <div class="date">{{ r.date }}</div>
      </div>
      <div class="action">
        <ion-button size="small" color="primary">Consulter</ion-button>
      </div>
    </div>
  </div>
</ion-content>

<app-footer-tabs></app-footer-tabs>

<!-- Modal Parrainer depuis Profil Enfant -->
<div class="sponsor-modal" *ngIf="showConfirm">
  <div class="backdrop" (click)="showConfirm = false"></div>
  <div class="sheet">
    <div class="content">
      <div class="text">Voulez-vous vraiment parrainer cet enfant ?</div>
      <div class="actions">
        <ion-button class="cancel" (click)="showConfirm = false">Annuler</ion-button>
        <ion-button class="confirm" [routerLink]="['/parrainage']">Confirmer</ion-button>
      </div>
    </div>
  </div>
</div>


