<ion-content [fullscreen]="true" class="ion-padding">
    <div class="boypay">
    <img src="assets/images/boy.png" alt="orange" />
  </div>
  <div class="payment-container">
    <h1 class="title">Amadou Bagayoko</h1>
    <div class="divider"></div>
    <p class="subtitle">Choisissez votre mode de paiement pour cet enfant</p>
  

    <div class="payment-options">
      <!-- Option Orange Money -->
      <ion-button 
        class="payment-button"
        [class.selected]="selectedMethod === 'orange'"
        (click)="selectPaymentMethod('orange')"
        expand="block">
        <img src="assets/images/orangepay.png" alt="orange" />
        <div class="button-content">
          <span class="button-text">Payer avec Orange Money</span>
        </div>
      </ion-button>

      <!-- Option Moov Money -->
      <ion-button 
        class="payment-button"
        [class.selected]="selectedMethod === 'moov'"
        (click)="selectPaymentMethod('moov')"
        expand="block">
        <img src="assets/images/moovpay.png" alt="moov" />
        <div class="button-content">
          <span class="button-text">Payer avec Moov Money</span>
        </div>
      </ion-button>

      <!-- Option PayPal -->
      <ion-button 
        class="payment-button"
        [class.selected]="selectedMethod === 'paypal'"
        (click)="selectPaymentMethod('paypal')"
        expand="block">
        <img src="assets/images/paypal.png" alt="paypal" />
        <div class="button-content">
          <span class="button-text">Payer avec Paypal</span>
        </div>
      </ion-button>

      <!-- Option Carte Bancaire -->
      <ion-button 
        class="payment-button"
        [class.selected]="selectedMethod === 'card'"
        (click)="selectPaymentMethod('card')"
        expand="block">
        <img src="assets/images/bankpay.png" alt="bankpay" />
        <div class="button-content">
          <span class="button-text">Payer avec Carte Bancaire</span>
        </div>
      </ion-button>
    </div>
  </div>
</ion-content>